*{
    margin: 0px;
    padding: 0px;
}
nav ul{
    display: flex;
    justify-content: end;
    gap: 50px;
    margin-right: 30px;
}
nav ul li{
     list-style: none;
     font-size: 20px;
}
nav ul li a{
    text-decoration: none;
}








nav ul li a:hover{
   transition:  ease-in-out 0.5s;
   box-shadow: 19px 8px 15px rgba(111, 101, 202, 0.9);
   color: #7E4FBE;
   font-weight: bolder;
   font-size: 23px;
}








.logo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Hero{
    display: flex;
}
.pic img{
    height: 400px;
    width: 400px;
    margin-top: 150px;
    border-radius: 50px;
    margin-left: 150px;

}
.Name h1{
    margin-top: 250px;
    margin-left: 500px;
    font-size: 55px;
    font-family: 'Times New Roman', Times, serif;
}
.Name p{
    margin-left: 480px;
    margin-top: 30px;
    text-align: justify;
    width: 300px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.line{
    border: solid 2px black;
    }

.sub{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: antiquewhite;
    height: 30vh;
}
.sub p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}